includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - examples
        - phpstan
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    
    bootstrapFiles:
        - vendor/autoload.php
    
    scanDirectories:
        - phpstan
    
    ignoreErrors:
        -
            message: '#Cannot call method [a-zA-Z0-9_]+\(\) on mixed\.#'
            path: tests/*
        -
            message: '#Cannot access property \$[a-zA-Z0-9_]+ on mixed\.#'
            path: tests/*
        -
            message: '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::throws\(\)\.#'
            path: tests/*
        -
            message: '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+::(shouldHaveReceived|shouldNotHaveReceived)\(\)\.#'
            path: tests/*

services:
    -
        class: Pekral\Arch\PHPStan\Rules\NoEloquentStorageMethodsInActionsRule
        tags:
            - phpstan.rules.rule
    -
        class: Pekral\Arch\PHPStan\Rules\NoDirectDatabaseQueriesInActionsRule
        tags:
            - phpstan.rules.rule
    -
        class: Pekral\Arch\PHPStan\Rules\OnlyModelManagersCanPersistDataRule
        tags:
            - phpstan.rules.rule