includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    tmpDir: build/phpstan-test
    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - vendor/autoload.php

    scanDirectories:
        - phpstan

services:
    -
        class: Pekral\Arch\PHPStan\Rules\ActionInvokeMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: Pekral\Arch\PHPStan\Rules\OnlyRepositoriesCanQueryDataRule
        tags:
            - phpstan.rules.rule
    -
        class: Pekral\Arch\PHPStan\Rules\ActionInvokeArgumentsRule
        tags:
            - phpstan.rules.rule
